<main>
    <div class="wrapper">
        <div class="main-text">Hello in Tic Tac Toe game.</div>
        <div class="text">Try to play with AI computer player,
             which use machine learning to learn how to win in Tic Tac Toe.</div>
        <div class="text">The computer player will be losing in the first games, 
            but he will be better in every next
            game.</div>

        <button mat-raised-button color="primary" (click)="startGame()">Start Game</button>
    </div>
</main>