mat-drawer-container {
    height: 100%;
}
mat-drawer-content {
    padding: 12px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
mat-drawer {
    width: 290px;
}
.main-button {
    font-size: large;
    padding: 7px;
    margin: 20px 5px 0px;
    flex: 1;
}
.menu {
    display: grid;
    padding: 15px;
}

.board-container {
    margin: 10vh auto;
    display: grid;
    width: 300px;
}
app-board {
    margin-bottom: 40px;
}
.ai-menu {
    display: flex;
}

.ai-button {
    white-space: nowrap;
    flex: 1;
    font-size: large;
    padding: 10px;
}

.menu-button {
    white-space: nowrap;
    width: auto;
    font-size: large;
    padding: 10px;
    margin-top: 15px;
}

.info {
    width: 150px;
    height: 8px;
    font-size: x-large;
    padding: 10px;
    margin-top: 30px;
}

.menu-header {
    display: flex;
    text-align: justify;
    font-size: 17px;
    height: 80px;
    width: 100%;
    background-color: #69F0AE;
}

.menu-title {
    color: black;
    text-align: center;
    font-size: 28px;
    margin: auto;
}

.menu-text {
    text-align: justify;
    font-size: 17px;
    margin: 40px 0 0;
}

